{% extends 'base.html' %}

{% block title %} Login Here {% endblock %}

{% block content %}

<form method="POST">
    {% csrf_token %}

    <div class="mb-3">
        <label class="form-label">User Name</label>
        {{ form.username }}
    </div>

    <div class="mb-3">
        <label class="form-label">Password</label>
        {{ form.password }}
    </div>
   {% if error_message%}
     <p class="text-danger"> {{error_message}}</p>
   {% endif %}
    <button type="submit" class="btn btn-primary"> Login</button>

</form>

{% endblock%}